.layout{
    height: 100%;
}

.red {
    stroke: rgb(212, 221, 212)
}
.yellow {
    stroke: yellow;
}
.green {
    stroke: green;
}

.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }